@model MVCWebProject2.Models.VehicleSearchResultModel

<div>
    <h4>VehicleSearchResultModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleClassType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleClassType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThumbNail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThumbNail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransmissionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransmissionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfSeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfSeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfDoors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfDoors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfBags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfBags)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DailyRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeekendRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeekendRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeeklyRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeeklyRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BasicDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BasicDescription)
        </dd>

    </dl>
</div>

