@model IEnumerable<MVCWebProject2.Areas.Admin.Models.VehicleTypeList>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Vehicle Types</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { area = "Admin" }, new { @class = "btn btn-default", @data_toggle = "tooltip", @data_placement = "right", @title = "Add a new vehicle type" })
</p>
<div class="row">
    <div class="col-md-3">
        @Html.Partial("VehicleMenu")
    </div>
    <div class="col-md-9">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Display)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Display)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
