@model IEnumerable<MVCWebProject2.Areas.Admin.Models.VehicleListViewModel>
@{
    ViewBag.Title = "Index";

}

<h2>Manage Vehicles</h2>
<p>@ViewBag.Message</p>
<p>
    @Html.ActionLink("Create New", "Create", new { area = "Admin" }, new { @class = "btn btn-default", @data_toggle = "tooltip", @data_placement = "right", @title = "Add a new vehicle" })
</p>
<div class="row">
    <div class="col-md-3">
        @Html.Partial("VehicleMenu")
    </div>
    <div class="col-md-9">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RegistrationNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Manufacturer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleModel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransmissionType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleStatus)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransmissionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleStatus)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.VehicleId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.VehicleId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.VehicleId })
                </td>
            </tr>
            }
        </table>

    </div>
    <!--<div class="col-md-2">
        Pagers will be here
    </div> -->
</div>

