@using MVCWebProject2.utilities
@model MVCWebProject2.Areas.Admin.Models.VehicleCategoryViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Vehicle Group</h2>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@using (Html.BeginForm("Edit", "VehicleCategory", new { area = "Admin" }, FormMethod.Post, new { id = "editForm" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Vehicle Category</h4>
    <hr />
    
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.ImageId, htmlAttributes: new { @class = "control-label col-xs-2" })
        <div class="col-xs-10">
            <img src="~/images/uploads/@Model.ImageName" id="Vehicle" class="img-responsive img-rounded" width="315" height="315" data-toggle="modal" data-target="#myModal" />
            <p>Click image to change or update.</p>
            @Html.HiddenFor(model => model.ImageId)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.VehicleClassType, htmlAttributes: new { @class = "control-label col-xs-2" })
        <div class="col-xs-10">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon-pencil" aria="hidden"></i>
                </span>
                @Html.EditorFor(model => model.VehicleClassType, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.ValidationMessageFor(model => model.VehicleClassType, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.VehicleTypeID, htmlAttributes: new { @class = "control-label col-xs-2" })
        <div class="col-xs-10">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon-pencil" aria="hidden"></i>
                </span>
                @Html.DropDownListFor(model => model.VehicleTypeID, Model.VehicleType, Constants.DropDownListDefaultSelection.PleaseSelect.GetStringValue(), new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.VehicleTypeID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DailyRate, htmlAttributes: new { @class = "control-label col-xs-2" })
        <div class="col-xs-10">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-gbp"></i>
                </span>
                @Html.EditorFor(model => model.DailyRate, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.ValidationMessageFor(model => model.DailyRate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.WeeklyRate, htmlAttributes: new { @class = "control-label col-xs-2" })
        <div class="col-xs-10">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-gbp"></i>
                </span>
                @Html.EditorFor(model => model.WeeklyRate, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.ValidationMessageFor(model => model.WeeklyRate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.WeekendRate, htmlAttributes: new { @class = "control-label col-xs-2" })
        <div class="col-xs-10">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-gbp"></i>
                </span>
                @Html.EditorFor(model => model.WeekendRate, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.ValidationMessageFor(model => model.WeekendRate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MonthlyRate, htmlAttributes: new { @class = "control-label col-xs-2" })
        <div class="col-xs-10">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-gbp"></i>
                </span>
                @Html.EditorFor(model => model.MonthlyRate, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.ValidationMessageFor(model => model.MonthlyRate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NumberOfSeats, htmlAttributes: new { @class = "control-label col-xs-2" })
        <div class="col-xs-10">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon-pencil" aria="hidden"></i>
                </span>
                @Html.EditorFor(model => model.NumberOfSeats, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.ValidationMessageFor(model => model.NumberOfSeats, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NumberOfDoors, htmlAttributes: new { @class = "control-label col-xs-2" })
        <div class="col-xs-10">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon-pencil" aria="hidden"></i>
                </span>
                @Html.EditorFor(model => model.NumberOfDoors, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.ValidationMessageFor(model => model.NumberOfDoors, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BasicDescription, htmlAttributes: new { @class = "control-label col-xs-2" })
        <div class="col-xs-10">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon-pencil"></i>
                </span>
                @Html.TextAreaFor(model => model.BasicDescription, new { @class = "form-control", @rows = "4", @columns = "40" })
            </div>
            @Html.ValidationMessageFor(model => model.BasicDescription, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LuggageCapacity, htmlAttributes: new { @class = "control-label col-xs-2" })
        <div class="col-xs-10">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon-pencil" aria="hidden"></i>
                </span>
                @Html.EditorFor(model => model.LuggageCapacity, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.ValidationMessageFor(model => model.LuggageCapacity, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<!-- Insert modal code here for image gallery -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h1 class="modal-title text-center"><i class="glyphicon glyphicon-picture glyphicon-align-center"></i> Image Gallery <i class="glyphicon glyphicon-picture glyphicon-align-center"></i></h1>
            </div>
            <div class="modal-body">
                <p>Click on an image below to select it for the current vehicle group.</p>
                <div class="row" id="thumbNails"></div>
            </div>
            <div align="center">
                <ul class="pagination pagination-sm" id="pager" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        
    </div>
</div>
<script>
    $(document).ready(function () {
        //Load up our ajax/json gallery
        LoadGallery('thumbNails', 1, 8, 'pager');
    });

    
</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
