@model IEnumerable<MVCWebProject2.Areas.Admin.Models.VehicleCategoryListViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Admin Home</h2>
<p>@ViewBag.Message</p>
<p>@ViewBag.VehicleTypeID</p>
<p>
    @Html.ActionLink("Create New", "Create", new { area = "Admin" }, new { @class = "btn btn-default", @data_toggle = "tooltip", @data_placement = "right", @title = "Add a new vehicle" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VehicleImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleClassType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleType)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="~/images/uploads/@item.VehicleImage" id="Vehicle" class="img-responsive img-rounded img-thumbnail" onclick="javascript:window.location='../Admin/VehicleCategory/Edit/@item.Id';" height="100" width="100" style="cursor: pointer"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleClassType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
            </td>
        </tr>
    }
</table>