@using MVCWebProject2.utilities
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EasyHire</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    @if (Request.IsAuthenticated)
    {
        if (Request.Cookies["userInfo"] != null)
        {
            ViewBag.Theme = Server.HtmlEncode(Request.Cookies["userInfo"]["BootstrapTheme"]).ToString();
        }
        <link href="~/Content/@ThemeManager.SetThemeName(ViewBag.Theme)" rel="stylesheet" />

    }
    else
    {
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
    }

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("EasyHire", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (User.IsInRole("Super Admin") || User.IsInRole("Admin"))
                {
                    <ul class="nav navbar-nav">
                        <li class="dropdown">

                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Navigation <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Home (Admin Site)", "Index", "Home", new { Area = "Admin" }, new { })</li>
                                <li>@Html.ActionLink("Home (Customer Site)", "Index", "Home", new { Area = "" }, new { })</li>
                                <li>@Html.ActionLink("About (Customer Site)", "About", "Home", new { Area = "" }, new { })</li>
                                <li>@Html.ActionLink("Contact (Customer Site)", "Contact", "Home", new { Area = "" }, new { })</li>
                            </ul>
                    </ul>

                }


                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Super Admin") || User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Hires", "Index", "Hires", new { id = "", other = "", Area = "Admin" }, new { })</li>
                        <li>@Html.ActionLink("Users", "Index", "Users", new { id = "", other = "", Area = "Admin" }, new { })</li>

                    }
                    else
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    }
                </ul>
                @if (User.IsInRole("Super Admin") || User.IsInRole("Admin"))
                {
                    <ul class="nav navbar-nav">
                        <li class="dropdown">

                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Vehicles <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Vehicle Categories", "Index", "VehicleCategory", new { Area = "Admin" }, new { })</li>
                                <li>@Html.ActionLink("Vehicles", "Index", "Vehicle", new { id = "", other = "", Area = "Admin" }, new { })</li>
                                <li>@Html.ActionLink("Gallery", "", "Gallery", new { PageNumber = "1", NumberOfItems = "8", Area = "Admin" }, new { })</li>
                            </ul>
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-primary">This is a demonstration site, showcasing the coding and development techniques used to build this fully functioning car hire site.</p>
            <p class="label label-primary">&copy; @DateTime.Now.Year - G2BAM - EasyHire</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)

</body>
</html>
